deps
lib
tts
www
harmony_media_room.conf
known_devices.yaml
OZW_Log.txt
plex.conf
phue.conf
pyozw.sqlite
secrets.yaml
*.conf
*.crt
*.csr
*.db
*.db-journal
*.key
*.log
*.pid
*.xml
.*
!/.travis.yml
!/.gitignore